/* Place CSS styles here */
 .header{
  margin: 0;
  padding: 0;
 }

 .header-logo{
  width: 100%;
  height: 90px;
  background-color: #ffc0cb;
  box-sizing: border-box;
  position: sticky;
  display: flex;
  justify-content: right;
  padding-left: 25px;
 }
 /* how to stop my inpusts form intefering wth eachother.
 logo position wont stay static. feature items need to come up on the phone.
 nav bar backgrund color is behind pic.
  */
 .Logo-title{
  font-family: lucida handwriting;
  font-size: 50px;
 }

 .hamburger{ 
  height: 100%;
  width: 250px;
  background: #e3cc72;
  left: 0;
  position: absolute;
  box-sizing: border-box;
  /* z-index: 1;
  transition: o.5s all; */
  transform: translateX(-250px); 
 }

 .hamburger .menu{
  color: #512f10;
  background: #b8b87a;
  font-size: 35px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
 }

 .hamburger ul li{
  width: 100%;
  list-style: none;
  padding: 20px;
  display: block;
 }

 .hamburger ul li a{
  text-decoration: none;
  color: #201302;
  font-size: 25px;
  transition: 0.3s;
  position: relative;
  padding-left: 30px;
 }

 .hamburger ul li a:hover{
  background: #512f10;
  color: #99d9e4;
  letter-spacing: 5px;
 }

 input{
  display: none;
  visibility: hidden;
 }

 span{
  position: absolute;
  right: -40px;
  top: 30px;
  font-size: 35px;
  color: #bdb76b;
  border-radius: 3px;
  padding: 4px;
  background: #100801;
  cursor: pointer;
 }

 #bars{
  background: #9acd32;
 }

 #check:checked~ .hamburger{
  transform: translateX(0px);
 }

 #check:checked~ .hamburger #bars{
  display: none;
 }

 .not-hamburger{
  display: flex;
  justify-content: space-between;
 }

  .logo{
  width: 90px;
  height: 90px;
 }

 .header-list ul{
  display: flex;
  list-style: none;
  font-size: 25px;
  padding-top: 24px;
 }

 .header-list ul li{
  padding: 15px;
  width: max-content;
 }

 .header-list ul li a{
  color: #3f503f;
  text-decoration: none;
  transition: all .2;
 }

 .header-list ul li a:hover{
  color: #ffffff;
 }

 .cart{
  height: 50px;
  padding-top: 45px;
 }

 .header-list{
  width: fit-content;
  display: flex;
 }

 /* MainPage main */
  .Main-page{
  background-image: url(../img/hairTextures.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100%;
  position: static;
 } 

 .hair-care-text{
  font-family: serif;
  margin: 0;
  padding: 0;
 }

 .paragraph{
  font-family: 'Times New Roman', Times, serif;
  color: #f6f4f5;
  font-size: 20px;
  text-align: center; 
 }

 .feature-f{
  font-family: serif;
  font-size: 30px;
  font-style: italic;
 }
 
 .feature-items{
  display: flex;
  width: 100%;
 }

 .product-accesories{
  padding: 1px;
 }

 .product-brushes{
  padding: 1px;
 }

 .product-colors{
  padding: 1px;
 }

 .product-bundle{
  padding: 1px;
 } 

 .product-bundle-img{
  width: 100%; 
 }

 .product-bundle:hover{
  background-color: #0f352a;
  transition: 0.5s;
 }
 .product-bundle:hover{
  color: #f3e6e8;
  transition: 0.5s;
 }

 .product-brushes-img{
  width: 100%;
 }

 .product-brushes:hover{
  background-color: #0f352a;
  transition: 0.5s;
 }

  .product-brushes:hover{
  color: #f3e6e8;
  transition: 0.5s;
 }

 .product-accesories-img{
  width: 100%;
 }

 .product-accesories:hover{
  background-color: #0f352a;
  transition: 0.5s;
 }

  .product-accesories:hover{
  color: #f3e6e8;
  transition: 0.5s;
 }

 .product-colors-img{
  width: 100%;
 }

 .product-colors:hover{
  background-color: #0f352a;
  transition: 0.5s;
 }

 .product-colors:hover{
  color: #f3e6e8;
  transition: 0.5s;
 }

  h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
 }

 .hair-care{
  font-family: 'Times New Roman', Times, serif;
 }
 
 /* login main */
 .signup-login{
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
  text-align: center;
  color: #201302;
  background: url(../img/R.jpg);
  background-size: cover;
 }

 .signup-login form{
  border-radius: 40px;
  background-color: #5f9ea0;
  width: 100%;
  width: 400px;
 }

 .Inputs{
  width: 90%;
  margin: 20px;
  background: #f7fcf7;
 }
 .Inputs input{
  background-color: #b45fb0;
  height: 100%;
  width: 100%;
 }

 .Inputs input::placeholder {
  color: #f7fcf7;
 }

 .forgot a{
  text-decoration: none;
 }

 .forgot a:hover{
  text-decoration: underline;
  color: #8a2be2;
 }

 .login-button{
  width: 80%;
  border: none;
  background: #e2f4e2;
  border-radius: 60px;
  cursor: pointer;
 }

 .Register{
  width: 100%;
 }
 
 /* footer */
 .footer{
  padding-bottom: 1px;
  background-color: #091a09;
  width: 100%;
  position: sticky;
  top: 100%;
 }

 .social-media{
  display: flex;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  /* padding-left: 300px; */

 }

 .social-media img{
  padding: 5px;
  background-color: #e2f4e2;
  margin: 10px;
  border-radius: 50%;
  opacity: 0.8;
 } 

 .social-media img:hover{
  background-color: #7fffd4;
  transition: 0.5;
 }

 .social-media img:hover{
  color: #ffffff;
  transition: 0.5;
 }

 .about-us{
  margin: 30px;
 }

 .about-us ul{
  display: flex;
  justify-content: center;
 }

 .about-us ul li a{
  color: #ffffff;
  margin: 20px;
  text-decoration: none;
  font-size: 30px;
  opacity: 0.6;
  transition: 0.5;
 }

 .about-us ul li a:hover{
  opacity: 1;
 }
 .copyright{
  color: #e9f9e9;
  text-align: center;
 }

  /* media query for phone */
 @media (max-width: 480px) {
   body { 
    background-color: #b9f2b9;
    }
   .header-logo{
    min-width: 100%;
   }
   .Main-page{
   background-image: 100%;
   }
   .feature-items {
    display: flex;
    flex-direction: column;
    max-width: 100%;
   }
   .paragraph{
   font-size: 15px;
   }
   .about-us ul{
    flex-direction: column;
    align-items: center;
    font-size: 20px;
   }
   }
  
  /* media query for tablet */
 @media (min-width: 481px) and (max-width: 785px) {
    body { 
    background-color: #b9f2b9;
    }
   }

   /* media query for desktop */
 @media (min-width: 786px) {
    body { 
    background-color: #b9f2b9;
    }
    
   }