/* Place CSS styles here */
/* change the responsive layout title and the discription
 */
 .header{
  margin: 0;
  padding: 0;
 }

 .header-logo{
  width: 100%;
  height: 120px;
  background-color: #ffc0cb;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
 }

 h1{
   font-family: lucida handwriting;
    font-size: 50px;
    padding-top: 20px;
   
}
 .dropdown{
  width: 60px;
  height: 70px;
  padding-top: 30px;
 }

  .logo{
    
   width: 90px;
   height: 100px;
   padding-top: 20px;
 }

 .header-list ul{
   display: flex;
   list-style: none;
   font-size: 25px;
   padding-top: 45px;
 }

 .header-list ul li{
   padding: 15px;
   
 }

 .header-list ul li a{
   color: #3f503f;
   text-decoration: none;
   transition: all .2;
 }

 .header-list ul li a:hover{
   color: #ffffff;
 }

 .cart{
   height: 70px;
   padding-top: 60px;
 }

 .header-list{
  width: fit-content;
  display: flex;
  
 }

 .form-email{
  border: 1px;
  color: #000000;
  border-style: hidden;
  display: flex;
  justify-content: center;
  font-size: 30px;
 }

  /* media query for phone */
  @media (max-width: 480px) {
   body { 
      background-color: #98fb98;
   }
  }
  /* media query for tablet */
 @media (min-width: 481px) and (max-width: 767px) {
    body { 
       background-color: #98fb98;
    }
   }

   /* media query for desktop */
 @media (min-width: 786px) {
    body { 
       background-color: #98fb98;
    }
   }